.movie-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1b5e20;
  margin-bottom: 5%;
}

.movie-info-title {
  font-size: 45px;
  font-weight: bold;
  margin: 20px;
  color: #1e6f5c;
}

.movie-info-container{
  display: flex;
  justify-content: space-evenly;
}
/* ~~~ LEFT CONTAINER ~~~ */

.movie-info-left {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* text-align: center; */
  width: 30%;
}

.movie-info {
  width: 100%;
  /* height: fit-content; */
  background-color: rgba(102, 79, 79, 0.192);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-title{
  margin: 0;
  padding: 10px 0 5px 0;
  text-decoration: underline;
}

.movie-info-list{
  padding: 0;
  list-style: none;
  margin-bottom: 20%;
}

.movie-info-list li {
  padding-bottom: 10px;
}

.backdrop-image {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ~~~ RIGHT CONTAINER ~~~ */

.trailer {
  width: 100%;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-info-tagline{
  font-style: italic;
  margin-bottom: 0;
  margin-top: 10px;
  color: #40394a;
}

.movie-info-rating{
  margin: 10px 0 0 0;
  padding-bottom: 5px;
  color: #40394a;
}

.movie-info-overview{
  margin: 0;
  color: #40394a;
}

.movie-description {
  display: flex;
  flex-direction: column;
  width: 60%;
}

@media only screen and (max-width: 500px)  {
  .movie-info-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .movie-description {
    width: 80%
  }

  .movie-info-left {
    width: 80%;
    margin-top: 20px;
  }

  .hidden {
    display: none;
  }
}
