.movie-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 20%;
  margin: 15px 10px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-image {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}

.movie-title {
  margin: 8px;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin: auto;
  margin-bottom: 10px;
}

.movie-rating {
  font-weight: bold;
  padding-left: 5px;
  font-size: 20px;
}

.movie-icon {
  width: 40px;
  height: 40px;
}

.movie-card:hover {
  cursor: pointer;
  /* width: 20.5% */
  transform: scale(1.05);
}
