.nav {
  display: flex;
  justify-content: space-between;
  color: #49A94A;
  background-color: black
}

.title {
  margin-left: 20px;
}

.home-button {
  height: 40px;
  margin: 20px 20px 0px 0px;
}

.home-button:hover {
  cursor: pointer;
}